<h2>Details</h2>

    <Ul>
        <li>
            {{movies.title}}

        </li>

        <li>
            {{movies.genre}}
           
        </li>

        <li>
            {{movies.plot}}
            
        </li>

        <li>
            {{celebs.name}}
            
        </li>


        <a href="/movies/{{movies.id}}/edit">Edit</a>
    </Ul>



